/* Pattern from subtlepatterns.com */
body {
	background-image: url(debut_light.png);
}

/* Set margins for divs */
div {
	margin-top: 3px;
	margin-bottom: 3px;
}

/* Paragraph styling */
p {
	font-size: 17px;
}

/* Taken from bootstrap button, slightly modifed */
input[type=submit] {
	display: inline-block;
	padding: 6px 15px;
	margin-bottom: 0;
	font-size: 25px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

/* On hover of submit button */
input[type=submit]:hover {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
}

/* Some form styles taken from bootstrap */
form {
	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	border-style: solid;
}

/* Error styles */
.error {
	color: red;
}

.errorOutline {
	border: 1px solid red;
}

/* Content positioning */
#content {
	width:800px;
	margin:0 auto;
}

/* Results styles, same as form style */
#results {
	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	border-style: solid;
}